/* Minimal starter styles — students should add distinct colors/borders */
.box {
  display: inline-block;
  margin: 2rem;
}
/* TODO: add styles for .layer-content, .layer-padding, .layer-border, .layer-margin */
.layer-content {
  background-color: #2a7ede;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.layer-padding {
  background-color: #92eb2c;
  padding: 40px;
}

.layer-border {
  background-color: #ebc12b;
 border: 10px solid #0a0a0a; /* the actual border */
}

.layer-margin {
  background-color: #d37511;
  padding: 40px;

}

h1 {
  padding: 10px;

}

spam {
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  margin: 20px;
}

