/* TODO: Change display types to see how width/height/padding behave */
.demo-inline {
  display: inline;
  background: rgb(254, 101, 101);
}

.demo-inline2 {
  display: inline;
  background: rgb(255, 84, 84);
}

.demo-inline3 {
  display: inline;
  background: rgb(255, 0, 0);
}

.demo-block {
  display: block;
  background: rgb(199, 199, 255);
  width: 200px;
}

.demo-block2 {
   display: block;
  background: rgb(131, 131, 255);
  width: 200px;
}

.demo-block3 {
  display: block;
  background: rgb(68, 68, 255);
  width: 200px;
}
